/*Global styles*/
body{
	margin:0;
	padding:0;
	background:#f6f6f6;
	box-sizing: border-box;
	font-family: Play-Regular;
}

input[type="text"],input[type="password"],input[type='search'],button {
	border-radius: 0;
	border: solid 1px #ccc;
	padding: 5px;
	margin: 3px;
}

input[type="checkbox"]{
	border-radius: 0;
	border: solid 1px;
	width: 17px;
  height: 17px;
}

button{
	border-radius: 0;
	border: solid 1px #ccc;
	padding: 5px;
	margin: 3px;
}

input[type="text"]:focus,input[type="password"]:focus,input[type='search']:focus{
	box-shadow: 0 0 5px rgba(52,172,212,0.9);
	border: solid 1px #34acd4;
}

.global_box{
	display: inline-block;
	width: 100%; 
	margin: 0; 
	padding: 0;
	overflow: hidden;
}

.main_box{
	display: inline-block;
	float: left;
	width: 100%;
	background: #dddddd;
	overflow: hidden;
}


/*Header styles*/
.header{
	display: block;
	float: left;
	width: 100%;
	height: 90px;
	border-bottom: groove 2px #bbbbbb;
	background: #34acd4;
}

._osfk_hborder{
	display: inline-block;
	width: 65%;
	height: 90px;
	margin: auto 0 auto 15%;
}

._osfk_logo{
	display: inline-block;
	float: left;
	height: 100%;
	margin: auto 0 auto 0;
}

._osfk_hbnr{
	display: inline-block;
	max-width: 392px;
	height: 89px;
	margin: auto;
}

._osfk_hbanner{
	display:table-cell;
	vertical-align:middle;
	width: 392px;
	height: 89px;
}

._osfk_hdr{
	display: inline-block;
	float: right;
	margin: auto;
}
._osfk_header{
	display:table-cell;
	vertical-align:middle;
	padding-right: 3px;
	height: 89px;	
}

._osfk_header input[type="text"]:focus, ._osfk_header input[type="password"]:focus, ._osfk_header input[type='search']:focus{
	box-shadow: 0 0 7px rgba(10,10,10,0.7);
	border: solid 1px #34acd4;
}

/*Main content styles*/
.main_col{
	display: inline-block;
	float: none;
	box-sizing: border-box;
	width: 65%;
	border-right: groove 2px #bbbbbb;
	border-left: groove 2px #bbbbbb;
	padding: 3px 3px 10px 20px;
	margin: 0;
	background: #f6f6f6;
}

._osfk_hmenu{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}


.menu {
	list-style: none;
	margin: 5px 0px 5px 0px;
	padding: 0px 5px 5px 5px;
}

._osfk_hmenu .menu{
	border-bottom: solid 1px #cccccc;
}

._osfk_hmenu .menu li{
	display: inline;
	min-width: 50px;
	border-right: groove 2px #cccccc;
}

.menu li a{
	display: inline-block;
	padding: 5px 10px 5px 10px;
	color: black;
	text-decoration: none;
	border-bottom: solid 2px rgba(52, 172, 212, 0);
}


._osfk_hmenu .menu li:hover{
	padding: 5px 0px 5px 0px;
}

/*Left column styles*/
.left_col{
	display: inline-block;  
	float: left;
	box-sizing: border-box;
	width: 15%;
	height: 10px;
}

/*Right column styles*/
.right_col{
	display: inline-block;  
	float: right;
	box-sizing: border-box;
	width: 20%;
}

.right_col .menu, .left_col .menu li{
	display: block;
	border-bottom: groove 2px #cccccc;
	text-align:center;
	margin: auto;
}

.right_col .menu, .left_col .menu li a{
	width: 100%;
	padding: 5px 10px 5px 5px;
}

.menu li:hover {
	background:#9DE2F9;
	border-bottom: solid 2px #34ACD4;
}

/*Footer styles*/
.footer{
	display: block;
	float: left;
	box-sizing: border;
	width: 100%;
	height: 100px;
	background: #454545;
	border-top: groove 2px;
}

/*System messages*/
.alert{
	border-radius: 4px;
}

.alert .close{
	display: inline-block;
	float: right;
	cursor: pointer;
	font-size: 25px;
	padding: 0px 5px 5px 0px;
}

.alert .close:hover{
	display: inline-block;
	float: right;
	font-size: 25px;
	padding: 0px 5px 5px 0px;
	font-weight: bold;
}

.alert-warning{
	background: #ffc;
	border: solid 1px #d2d24c;
	padding: 5px;
}


.alert-heading{
	display: inline-block;
	float: left;
	margin: 3px 5px 5px 3px;
	color: #b39941;
}

.alert-message{
	display: inline-block;
	float: none;
	width: 100%;
	color: #b39941;
}

/*Module style*/
.well{
	display: block;
	width: 90%;
	background: #fff;
	margin: 5px auto 5px auto;
	padding: 0;
	border: solid 1px black;
}

.well .page-header{
	margin: 0;
	padding: 3px 0px 5px 25px;
	background: #34acd4;
	color: #fff;
}

.well .well-body{
	padding: 7px;
}

