/*Global styles*/
body{
	margin:0;
	padding:0;
	background:#f6f6f6;
	box-sizing: border-box;
	font-family: Play-Regular;
}

body a {
	text-decoration: none;
	color:#004A8A;
}

input[type="text"],input[type="password"],input[type='search'],button {
	border-radius: 0;
	border: solid 1px #ccc;
	padding: 5px;
	margin: 3px;
}

input[type="checkbox"]{
	border-radius: 0;
	border: solid 1px;
	width: 17px;
  height: 17px;
}

button, .btn{
	border-radius: 0;
	border: solid 1px #ccc;
	padding: 5px;
	margin: 3px;
}

input[type="text"]:focus,input[type="password"]:focus,input[type='search']:focus{
	box-shadow: 0 0 5px rgba(52,172,212,0.9);
	border: solid 1px #34acd4;
}

.global_box{
	display: inline-block;
	width: 100%; 
	margin: 0; 
	padding: 0;
	overflow: hidden;
}

.tooltip{
	position:absolute;
	z-index: 1030;
	display:block;
	opacity:1;
	font-size:11px;
}

.tooltip.top{
	margin-top: -3px;
	padding-bottom: 5px;
}

.tooltip.right{
	margin-left: 3px;
}

.tooltip.bottom{
	margin-top: 3px;
}

.tooltip.left{
	margin-left: 3px;
}

.tooltip-arrow{
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.tooltip-inner{
	max-width: 300px;
	padding: 8px;
	position:relative;
	color: #fff;
	text-align:left;
	text-decoration: none;
	background-color: rgba(0,0,0,.8);
	border-radius: 4px;
}

.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #000;
}

.hasTooltip{
	display:inline-block;
	float:left;
	vertical-align:middle;
}

/*Header styles*/
.header{
	display: block;
	float: left;
	width: 100%;
	height: 90px;
	border-bottom: groove 2px #bbbbbb;
	background: #34acd4;
}

._osfk_hborder{
	display: inline-block;
	width: 65%;
	height: 90px;
	margin: auto 0 auto 15%;
}

._osfk_logo{
	display: inline-block;
	float: left;
	height: 100%;
	margin: auto 0 auto 0;
}

._osfk_hbnr{
	display: inline-block;
	max-width: 392px;
	height: 89px;
	margin: auto;
}

._osfk_hbanner{
	display:table-cell;
	vertical-align:middle;
	width: 392px;
	height: 89px;
}

._osfk_hdr{
	display: inline-block;
	float: right;
	margin: auto;
}
._osfk_header{
	display:table-cell;
	vertical-align:middle;
	padding-right: 3px;
	height: 89px;	
}

._osfk_header input[type="text"]:focus, ._osfk_header input[type="password"]:focus, ._osfk_header input[type='search']:focus{
	box-shadow: 0 0 7px rgba(10,10,10,0.7);
	border: solid 1px #34acd4;
}

.element-invisible {
	display: none;
}

/*Containers*/
.right_back{
	position:relative;
	width: 20%;
	float:left;
	margin-left: 80%;
	background: #dddddd;
}

.content_back{
	position:relative;
	float:left;
	width: 325%;
	padding: 0;
	margin-left: -325%;
	border-right: groove 2px #cccccc;
	background: #f6f6f6;
}

.left_back{
	position:relative;
	float:left;
	width: 100%;
	margin-left: -100%;
	border-right: groove 2px #cccccc;
	background: #dddddd;
}

/*----------------*/

/*Main content styles*/
.main_box{
	float:left;
	width: 153.8%;
	overflow:hidden;
	position:relative;
	left: 77%;
}

.main_col{
	display: inline-block;
	float: none;
	box-sizing: border-box;
	width: 64%;
	padding: 3px 3px 10px 20px;
	margin: 0;
	background: #f6f6f6;
}

._osfk_hmenu{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}


.menu {
	list-style: none;
	margin: 5px 0px 5px 0px;
	padding: 0px 5px 5px 5px;
}

._osfk_hmenu .menu{
	border-bottom: solid 1px #cccccc;
}

._osfk_hmenu .menu li{
	display: inline;
	min-width: 50px;
	border-right: groove 2px #cccccc;
}

.menu li a{
	display: inline-block;
	padding: 5px 10px 5px 10px;
	color: black;
	text-decoration: none;
	border-bottom: solid 2px rgba(52, 172, 212, 0);
}


._osfk_hmenu .menu li:hover{
	padding: 5px 0px 5px 0px;
}

.items-leading {
	border-bottom: solid 1px #ccc;
}

.row-fluid {
	width: 100%;
	overflow: hidden;
}

.row-fluid [class*='span'] {
	display: block;
	float:left;
}

.row-fluid .span6 {
	width: 49%;
}

.row-fluid .span4 {
	width: 32%;
}

.row-fluid .span3 {
	width: 24%;
}

.row-fluid .span2 {
	width: 19%;
}

.item {
	margin: 10px 0 0 0;
	padding: 5px;
}

.item-title, .page-header {
	margin: 0 !important;
}

.icons {
	display: table;
	float: right;
	min-width: 50px;
	min-height: 25px;
	margin-left: -50px;
	margin-right: 5px;
	/*width: 19%;*/
}

.icons ul.dropdown-menu {
	display: none;
}

.nav-hover ul.dropdown-menu {
	display:block;
	position:absolute;
	margin: 35px 0 0 -25px;
	padding: 5px;
	z-index: 2;
	background: #eee;
	border: solid 1px #ccc;
}

.nav-hover .dropdown-menu li {
	display:block;
	margin: auto;
	padding: 2px;
}

.nav-hover .dropdown-menu li a {
	color:#000;
}

.icon-print::before {
	font-family: Heydings-Icons;
	font-size: 18px;
	content: 'p '
}

.icon-envelope::before {
	font-family: WebSymbols-Regular;
	font-size: 14px;
	content: '@ '	
}

.icon-edit::before {
	font-family: Heydings-Icons;
	font-size: 18px;
	content: 'w '
}

.dropdown-menu li a{
	text-decoration: none;
}

.nav-hover ul.dropdown-menu li:hover {
	background: #9DE2F9;
}

.btn-group{
	min-width: 50px;
	min-height: 25px;
}

.icons .btn {
	position:absolute;
	min-width: 50px;
	min-height: 25px;
	border: solid 1px #ddd;
	text-decoration:none;
	text-align:center;
	margin: 0 !important;
	padding: 0 !important;
	/*border-radius: 5px;*/
}

.icon-cog, .caret {
	text-decoration: none;
	color: #555;
	margin: auto 0 auto 0;
}

.icon-cog::before {
	font-family: WebSymbols-Regular;
	font-size: 24px;
	content: 'S ';
}

.caret::before {
	font-family: WebSymbols-Regular;
	font-size: 16px;
	content: ']';
}

.open .btn{
	box-shadow: 0 0 3px #ccc inset;
}

.open .caret::before {
	content: '[';
}

.article-info {
	display: table;
	font-size: 12px;
	float:none;
	padding: 0 0 7px 0;
	color: #555;
	width: 80%;
}

.article-info dd {
	padding: 0 3px 0 0;
	margin: 0 3px 0 3px;
	border-right: solid 1px #ccc;
}

.article-info .article-info-term {
	display: none;
}

.createdby, .publisged, .published, .create, .modified, .hits{
	float: left;
}

.content_rating {
	display: block;
	float:none;
	margin: 10px 0 10px 0;
}

/*Left column styles*/
.left_col{
	display: inline-block;  
	float: left;
	box-sizing: border-box;
	width: 15%;
	height: 10px;
}

/*Right column styles*/
.right_col{
	display: inline-block;  
	float: right;
	box-sizing: border-box;
	width: 20%;
}

.right_col .menu li, .left_col .menu li{
	display: block;
	border-left: groove 2px rgba(255,255,255,0);
	text-align:center;
	margin: auto;
}

.right_col .menu li a, .left_col .menu li a{
	width: 100%;
	padding: 5px 0 5px 0;
}

.menu li:hover {
	background:#9DE2F9;
	border-bottom: solid 2px #34ACD4;
}

.right_col .menu li:hover, .left_col .menu li:hover {
	border-bottom: none;
	border-left: solid 2px #34ACD4;
}

/*Footer styles*/
.footer{
	display: block;
	float: left;
	box-sizing: border;
	width: 100%;
	min-height: 100px;
	background: #454545;
	border-top: groove 2px;
}

/*System messages*/
.alert{
	border-radius: 4px;
}

.alert .close{
	display: inline-block;
	float: right;
	cursor: pointer;
	font-size: 25px;
	padding: 0px 5px 5px 0px;
}

.alert .close:hover{
	display: inline-block;
	float: right;
	font-size: 25px;
	padding: 0px 5px 5px 0px;
	font-weight: bold;
}

.alert-warning{
	background: #ffc;
	border: solid 1px #d2d24c;
	padding: 5px;
}


.alert-heading{
	display: inline-block;
	float: left;
	margin: 3px 5px 5px 3px;
	color: #b39941;
}

.alert-message{
	display: inline-block;
	float: none;
	width: 100%;
	color: #b39941;
}

/*Module style*/
.well{
	display: block;
	width: 90%;
	background: #fff;
	margin: 5px auto 5px auto;
	padding: 0;
	border: solid 1px black;
}

.well .page-header{
	margin: 0;
	padding: 3px 0px 5px 25px;
	background: #34acd4;
	color: #fff;
}

.well .well-body{
	padding: 7px;
}

